---
# handlers file for caddy-ansible
- name: restart caddy
  systemd:
    daemon_reload: true
    name: caddy
    state: restarted

- name: reload caddy
  systemd:
    name: caddy
    state: reloaded
