[Unit]
Description=Caddy HTTP/2 web server  
Documentation=https://caddyserver.com/docs  
After=network.target

[Service]
WorkingDirectory=/var/lib/caddy/  
User=caddy  
Environment=STNORESTART=yes  
LimitNOFILE=4096  
ExecStart=/usr/bin/caddy -agree=true -email={{ user_mail }} -conf=/etc/caddy/Caddyfile  
Restart=on-failure  
StartLimitInterval=600

[Install]
WantedBy=multi-user.target 