#{{ ansible_managed }}

{% for site in caddy_sites %}
{{ site }} {
{% for v in caddy_sites[site] %}
{{ v.replace(";","\n").replace("{","{\n").replace("}","\n}") }}
{% endfor %}
}
{% endfor %}
{% for v in caddy_config %}
{{ v.replace(";","\n").replace("{","{\n").replace("}","\n}") }}
{% endfor %}
